body{
cursor: grab;

}

.flexbox-container {
    display: flex;




}

.flexbox-item {
    /* border: gray 7px solid; */
     justify-content: space-between; 
    /* padding-top: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

 .one {
     flex-grow: 1 ; 
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;

} 


h1{
    color: darkred;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h2{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
animation-name: subtitles;
animation-duration: 10s;
animation-fill-mode: backwards;
animation-delay: 1s;
    }
    

    p{
        font-style: italic;
        color: blue;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 15px;
    }
    .line{
        
        color: black;
    }
    .second-section{
        border: brown solid 10px;
    }
    .clothes{
        margin-top: 25px;
        border: cornflowerblue solid 10px;
         font-family: fantasy; 
    }
    .gold{
        color: black;
        font-family: monospace;
    }

    footer{
        /* width: 100%;
        height: 175px; */
        color: white;
        background-color: black ;
    bottom: 0%;
    }
    .list{ 
        height: 100px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: static;
        top: 0;
        width: 100%;
       }
    .li2 {
float: right;

    }
    .li2 a{
        display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  transition-property: font-size, font-family, transform;
  transition-duration: 4s;
    }

    .li2 a:hover:not(.active) {
        background-color: gray;
        font-size: 15px;
        font-family: 'Bebas Neue', cursive;
        transform: translateX(-50px);
        font-size: 20px;
    
      }

      .icon{
        text-align: left;
    
    }
    .more{
        display: list-item;
    }
    .more a{
        text-decoration: none;
        margin-top: 5px;
        
    }
    label{
        font-size: 25px;
         display: none; 
    }
    #toggle{
        display: none;
    }
   

    @media screen and (max-width: 480px) {
        body{
            background-color: saddlebrown;
        }
       
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 25px;
            
        }
        .clothes{
            border: none;
        }
        label{
            display: block;
            font-size: 40px;
        }
        .more {
            text-align: left;
            width: 100%;
            display: none;
            font-family: 'Times New Roman', Times, serif;
        }
        .more a {
            /* display: block; */
            color: green;
        }
        #toggle:checked + .more{
            display: block;
        }

    }

    @media screen and (min-width: 481px){
        body{
            background-color: olive;
        }
    } 
    
@media screen and (min-width: 768px){
    body{
        background-color: yellow;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
        font-style: italic; 
    }
    .clothes{
        border: none;
        font-family: monospace;
        font-style: none;
        color: hotpink;
    }
}

@media screen and (min-width: 1025px){
    body{
        background-color:white;
    }
} 
@keyframes subtitles{
    0%{ transform: translateY(-40px);color: orchid; font-family: fantasy;
        }
    25%{transform: translateY(-30px); color: paleturquoise; font-family: sans-serif;
        }
    50%{ transform: translateY(20px); color: purple; font-family: sans-serif;
        }
    75%{ transform: translateY(60px); color: seagreen; font-family: serif;
        }
    100%{ transform: translateY(-20px);color: red; font-family: fantasy;
     }
    }
