body{
/* background-color: darkgray; */
}

.flexbox-container {
    display: flex;




}

.flexbox-item {
    /* border: gray 7px solid; */
     justify-content: space-between; 
    /* padding-top: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

 .one {
     flex-grow: 1 ; 
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;

} 


h1{
    color: darkred;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h2{
    margin-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black 5px;
    border-radius: 20%; 
    text-align: justify;

    }
    

    p{
        font-style: italic;
        color: blue;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 15px;
    }
    .line{
        
        color: black;
    }
    .second-section{
        border: brown solid 10px;
    }
    .clothes{
        margin-top: 25px;
        border: cornflowerblue solid 10px;
         font-family: fantasy; 
    }
    .gold{
        color: black;
        font-family: monospace;
    }

    footer{
        width: 100%;
        height: 175px;
        color: white;
        background-color: black ;
    bottom: 0%;
    }
   

    @media screen and (max-width: 480px) {
        body{
            background-color: saddlebrown;
        }
       
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 25px;
            
        }
        .clothes{
            border: none;
        }

    }

@media screen and (min-width: 768px){
    body{
        background-color: yellow;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
        font-style: italic; 
    }
    .clothes{
        border: none;
        font-family: monospace;
        font-style: none;
        color: hotpink;
    }
}

@media screen and (min-width: 1025px){
    body{
        background-color:white;
    }
} 
